# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Obsidian
.obsidian/

# Environment Files
.env

# Logs
*.log

# Generated snapshot files
storage/snapshots/*.html