{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Campaigns</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Created</th>
        </tr>
    </thead>

    <tbody>
        {% for campaign in campaigns %}
        <tr>
            <td>{{ campaign.id }}</td>
            <td>
                <a href="/ui/campaigns/{{ campaign.id }}">
                    {{ campaign.name }}
                </a>
            </td>
            <td>{{ campaign.status }}</td>
            <td>{{ campaign.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}